* {
  box-sizing: border-box;
}

h1 {
  background: rgb(43, 255, 0);
}
.form-filed {
  border: 2px solid rgb(0, 60, 255);
}
#content {
  max-width: 1000px;
  margin: auto;
  cursor: pointer;
}

.active {
  background: red;
}

.static {
  background: rgb(0, 89, 255);
}

.company-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 15px;
}
.company-row h3 {
  margin: 0 15px 0 0;
}
.number-of-company {
  margin-right: 15px;
  color: blue;
}

.company-info,
.company-header {
  width: 100%;
  display: flex;
}

.company-info {
  box-shadow: 0px 2px 8px 0px #00000063;
  border-radius: 20px;
  margin-top: 15px;
  transition: 0.5s;
}

.company-text {
  padding: 15px;
}

.company-header {
  border-bottom: 1px solid black;
  padding: 15px;
}

@keyframes dropDownAnimation {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 60px;
  }
}

@keyframes dropDownAnimation2 {
  0% {
    overflow: auto;
    opacity: 1;
    height: 60px;
  }
  100% {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}

.show {
  overflow: auto;
  animation: dropDownAnimation 0.5s;
}

.hide {
  overflow: hidden;
  height: 0;
  animation: dropDownAnimation2 0.5s;
}
